<ion-header  no-border>
  <ion-navbar>
    <ion-title>CURRICULUM</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="margin-top:0px">

  <ion-grid>
    <ion-card color>
      <ion-row>
        <ion-col>
          <img src="../../assets/photo.jpg">
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>

  <ion-grid>
      <ion-row>
        <ion-label class="colornegro"><b>DATOS PERSONALES</b></ion-label>
      </ion-row>
      
      <ion-row>
        <ion-col>
          <ion-label class="colornegro"><b>NOMBRES:</b></ion-label>
        </ion-col>
        <ion-col>
          <ion-label>Estefania Pamela</ion-label>
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col>
          <ion-label class="colornegro"><b>APELLIDOS:</b></ion-label>
        </ion-col>
        <ion-col>
          <ion-label>Aguilar Molina</ion-label>
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col>
          <ion-label class="colornegro"><b>CEDULA</b></ion-label>
        </ion-col>
        <ion-col>
          <ion-label>1750285676</ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label class="colornegro"><b>ESTADO CIVIL:</b></ion-label>
        </ion-col>
        <ion-col>
          <ion-label>Soltera</ion-label>
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col>
          <ion-label class="colornegro"><b>FECHA DE NACIMIENTO:</b></ion-label>
        </ion-col>
        <ion-col>
          <ion-label>21/SEP/1994</ion-label>
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col>
          <ion-label class="colornegro"><b>NACIONALIDAD</b></ion-label>
        </ion-col>
        <ion-col>
          <ion-label>Ecuatoriana</ion-label>
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col>
          <ion-label class="colornegro"><b>CORREO ELECTRONICO:</b></ion-label>
        </ion-col>
        <ion-col>
          <ion-label>estefania.aguilar@epn.edu.ec</ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label class="colornegro"><b>TELEFONO:</b></ion-label>
        </ion-col>
        <ion-col>
          <ion-label>0984790230</ion-label>
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col>
          <ion-label class="colornegro"><b>CONVENCIONAL:</b></ion-label>
        </ion-col>
        <ion-col>
          <ion-label>26847163</ion-label>
        </ion-col>
      </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-label class="colornegro"><b>ESTUDIOS REALIZADOS</b></ion-label>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-label class="colornegro"><b>JARDIN:</b></ion-label>
      </ion-col>
      <ion-col>
        <ion-label>Alfredo Binet 
        </ion-label>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col>
        <ion-label class="colornegro"><b>PRIMARIA</b></ion-label>
      </ion-col>
      <ion-col>
        <ion-label>Plinio Robalino Cruz</ion-label>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col>
        <ion-label class="colornegro"><b>SECUNDARIA</b></ion-label>
      </ion-col>
      <ion-col>
        <ion-label>Arturo Borja</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label class="colornegro"><b>SUPERIOR</b></ion-label>
      </ion-col>
      <ion-col>
        <ion-label>ESCUELA POLITECNICA NACIONAL</ion-label>
      </ion-col>
    </ion-row>
  
    <ion-row>
        <ion-label class="colornegro"><b>CURSOS TOMADOS</b></ion-label>
    </ion-row>
  
    <ion-row>
     
      <ion-col>
        <ion-label>Mantenimiento de Computadores</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>INTERNACIONAL</ion-label>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col>
        <ion-label class="colornegro"><b>Ingles</b></ion-label>
      </ion-col>
      <ion-col>
        <ion-label>Centro de Educacion Continua</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-label class="colornegro"><b>CONOCIMIENTOS</b></ion-label>
  </ion-row>
  
  <ion-row>
      <ion-label>Java</ion-label>
  </ion-row>
  <ion-row>
    <ion-label>Python</ion-label>
</ion-row>
<ion-row>
  <ion-label>PHP</ion-label>
</ion-row>
<ion-row>
<ion-label>PostgreSQL</ion-label>
</ion-row>
<ion-row>
  <ion-label>Firebase</ion-label>
</ion-row>
<ion-row>
<ion-label>CouchDB</ion-label>
</ion-row>
<ion-row>
  <ion-label>MySQL</ion-label>
</ion-row>
<ion-row>
<ion-label>Python</ion-label>
</ion-row>
<ion-row>
  <ion-label>SQL</ion-label>
</ion-row>

<ion-row>
  <ion-label class="colornegro"><b>REFERENCIA PERSONALES</b></ion-label>
</ion-row>

  <ion-row>
    <ion-col>
      <ion-label class="colornegro"><b>SEBASTIAN TAPIA</b></ion-label>
    </ion-col>
    <ion-col>
      <ion-label>Jefe de sistemas en Defensoria Publica 0995457193</ion-label>
    </ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col>
      <ion-label class="colornegro"><b>JOSSELIN RODRIGUEZ</b></ion-label>
    </ion-col>
    <ion-col>
      <ion-label>Jefe de Area en Banco Insotec, 0984756756</ion-label>
    </ion-col>
  </ion-row>

</ion-grid>
  </ion-content>
